*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

}

body{
    min-height: 100vh;
    background: rgb(16, 12, 16);
    display: grid;
    place-items: center;
    background-image: url(/assets/image/music-back-image.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
}

.main{
    position: relative;
    width: 400px;
    height: 550px;
    border-radius: 15px;
    background:purple;
    overflow: hidden;
}

.main .top_bar .options{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-70px);
    transition: 0.5s;
}

.main .top_bar {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .top_bar button{
    z-index: 20;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    font-size: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0,08);
    box-shadow: 0.1px 8px 8px 2px rgba(0,0,0,0.2);
    
}